.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  border: 2px solid #000000;
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 40px;
  margin: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.modal {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: '50%';
  transform: 'translate(50%, 50%)';
  z-index: 1999;
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal-content {
  max-width: 70%;
  max-height: 100%;
  width: auto;
  height: fit-content;
  top: '75%';
  left: '50%';
  transform: 'translate(50%, 75%)';
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
}

.play-button {
  border: 3px solid #000000;
  color: #000000;
  cursor: pointer;
}